.features {
  padding-top: 60px;
  padding-bottom: 60px;
  // width: $min-mobile;
  // @media screen and (min-width: $tablet) {
  //   padding-bottom: 60px;
  // }
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 0;
  }

  &__container {
    width: $min-mobile;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (min-width: $mobile) {
      width: $mobile;
    }
    @media screen and (min-width: $tablet) {
      width: $tablet;
    }
    @media screen and (min-width: $desktop) {
      width: $desktop;
    }
  }

  &__header {
    display: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    min-height: 76px;
    padding: 0;
    margin: -15px;
    width: fit-content;
    height: fit-content;
  }

  &__item {
    padding: 0;
    margin: 15px;
    width: calc(100% - 30px);
    @media screen and (min-width: $tablet) {
      min-height: 101px;
      width: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: $desktop) {
      width: calc(100% / 4 - 30px);
    }
    list-style-type: none;
  }
}
