.footer {
  min-width: $mobile;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $bgc-footer;

  &--accent {
    fill: $fill-socialweb-teams-accent;
  }

  &__block {
    &-content {
      display: block;
      text-align: center;
      min-width: $mobile;
      margin: 0 auto;
      padding: 0 15px;
      @media (min-width: $tablet) {
        // display: flex;
        width: $tablet;
      }
      @media (min-width: $desktop) {
        display: flex;
        width: $desktop;
        text-align: left;
      }
    }
    &-tablet {
      @media (min-width: $tablet) {
        display: flex;
      }
    }
    &-adress {
      display: block;
      width: 231px;
      margin: 0 auto 60px auto;
      padding: 0;
      @media (min-width: $desktop) {
        margin: 0 auto;
      }
      &--geometry {
        @media (min-width: $tablet) {
          margin-left: auto;
          margin-right: 165px;
        }
        @media (min-width: $desktop) {
          margin-right: 70px;
        }
      }
    }

    // &-sign--geometry {
    //   margin-top: 12px;
    // }
  }

  &__block-social--geometry {
    margin-bottom: 60px;
    @media (min-width: $tablet) {
      margin-left: 0;
      margin-right: auto;
      margin-top: 6px;
    }
    @media (min-width: $desktop) {
      margin-right: 93px;
      margin-top: 12px;
    }
  }

  &__block-sign--geometry {
    // margin-top: 60px;

    @media (min-width: $desktop) {
      margin-top: 12px;
    }
  }

  &__paragrapf {
    margin: 0 0 20px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color-footer;
  }
}
