// начало стилей блока контактов
.contacts {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}
.contacts__list {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
  // display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.contacts__item {
  display: block;
  list-style-type: none;
  margin-bottom: 10px;

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 50px;
    }
    margin-bottom: 0;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:visited,
  &:link {
    color: $text-color-seccondary;
  }

  &:hover,
  &:focus {
    color: $text-color-accent;
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: $text-color-seccondary;
}

.contacts__link:hover,
.contacts__link:focus {
  .contacts__icon {
    fill: $text-color-accent;
  }
}
// конец стилей блока контактов
