.header {
  border-bottom: 1px solid $border-color-header;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color-primary;

  &__block {
    display: flex;
    align-items: center;
    max-width: $mobile;
    min-height: 60px;
    @media (min-width: $tablet) {
      max-width: $tablet;
    }
    @media (min-width: $desktop) {
      max-width: $desktop;
      min-height: 80px;
    }
    margin: 0px auto 0px auto;
    padding: 0 15px 0 15px;
    border-bottom: 1px solid $border-color-header;
  }
}

// геометрия размещения блоков в шапке
.logo--header-geometry {
  margin-right: 88px;
  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}
.contacts--header-geometry {
  margin-left: auto;
}
.header__button {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 11;
  display: inline-flex;
  @media screen and (min-width: $tablet) {
    display: none;
  }
  border: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  fill: $text-color-primary;

  .header__button-icoclose {
    display: none;
  }
  &.is-open {
    .header__button-icoclose {
      display: block;
    }
    .header__button-icomenu {
      display: none;
    }
  }
  &:focus,
  &:hover {
    .header__button-icoclose {
      fill: $text-color-accent;
    }
    .header__button-icomenu {
      fill: $text-color-accent;
    }
  }
}
.header__menu-container {
  @media screen and (max-width: $tablet) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 48px;
    background-color: $bgc-primary;
    z-index: 10;
    display: none;
    &.is-open {
      display: block;
    }
    overflow-y: scroll;
  }
}
