// начало стилей блока логотипа
.logo {
  &__link {
    text-decoration: none;

    cursor: pointer;
  }
  &__text {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2196f3;
    @media screen and (min-width: $desktop) {
      font-size: 26px;
      line-height: 1.19;
    }

    &--darkling {
      color: #212121;
      @media screen and (min-width: $desktop) {
        color: #000000;
      }
    }
    &--lighting {
      color: $text-color-footer;
    }
  }
  &--footer-geometry {
    margin-bottom: 20px;
  }
}
// конец стилей блока логотипа
