body {
  font-family: "Roboto", "Open+Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $text-color-primary;
  margin: 0;
  &.modal-open {
    overflow: hidden;
  }
  &.menu-open {
    overflow: hidden;
  }
  @media screen and (max-width: $min-mobile) {
    width: $min-mobile;
  }
  // @media screen and (max-width: $mobile) {
  //   width: $mobile;
  // }
}
// .container {
//   width: $mobile;
//   @media screen and (min-width: $tablet) {
//     width: $tablet;
//   }
//   @media screen and (min-width: $desktop) {
//     width: $desktop;
//   }
//   margin: 0px auto;
//   padding: 0;
// }
button {
  font: inherit;
  font-family: "Roboto";
}
