.portfolio {
  width: auto;
  height: fit-content;
  @media screen and (max-width: $mobile) {
    width: $mobile;
  }
  &__container-filter {
    margin: 0 auto;
    padding: 60px 15px 0;
    width: $mobile;
    @media screen and (min-width: $tablet) {
      width: $tablet;
    }
    @media screen and (min-width: $desktop) {
      width: $desktop;
      padding-top: 94px;
    }
  }

  &__title {
    display: none;
  }

  &__container {
    // width: 100%;
    padding: 40px 15px 60px 15px;
    margin: 0 auto 0 auto;
    width: $mobile;
    @media screen and (min-width: $tablet) {
      width: $tablet;
      padding: 30px 15px 60px 15px;
      // margin-bottom: 60px;
    }
    @media screen and (min-width: $desktop) {
      width: $desktop;
      padding: 50px 15px 94px 15px;
      // margin-bottom: 94px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: -15px;
    width: fit-content;
    height: fit-content;
  }

  &__item {
    margin: 15px;
    list-style-type: none;
    width: calc($mobile - 30px);
    @media screen and (min-width: $tablet) {
      width: calc($tablet / 2 - 30px);
    }
    @media screen and (min-width: $desktop) {
      width: calc($desktop / 3 - 30px);
    }
  }
}
