// основной цвет
$bgc-primary: #ffffff;
// второстепенный цвет
$bgc-seccondary: #f5f4fa;
// цвет фона секции героя
$bgc-hero: #2f303a;
// цвет фона футера
$bgc-footer: #2f303a;
// цвет фона кнопки героя акцент
$bgc-button-accent: #2196f3;
// цвет фона кнопки героя при ховере
$bgc-button-hover: #188ce8;
// цвет фона иконки социальных сетей футера
$bgc-socialweb-futer: rgba(255, 255, 255, 0.1);
// цвет фона модального окна
$bgc-modal: #ffffff;
// основной цвет текста
$text-color-primary: #212121;
// второстепенный цвет текста
$text-color-seccondary: #757575;
// акцентированный цвет текста
$text-color-accent: #2196f3;
// контрастный цвет текста кнопки
$text-color-button-accent: #ffffff;
// контрастный цвет текста героя
$text-color-hero: #ffffff;
// контрастный цвет текста футера
$text-color-footer: #ffffff;
// цвет текста адреса футера
$text-color-futer-adr: rgba(255, 255, 255, 0.6);
// цвет текста внутри форм модального окна
$text-color-modal-form: rgba(117, 117, 117, 0.5);
//  цвет рамки шапки
$border-color-header: #ececec;
// цвет рамки элементов портфолио
$border-color-portfolio: #eeeeee;
// цвет заливки иконок соцсетей комманды
$fill-socialweb-teams: #afb1b8;
// цвет заливки иконок логотипов клиентов
$fill-logo-clients: #afb1b8;
// цвет заливки иконок соцсетей комманды при ховере
$fill-socialweb-teams-accent: #ffffff;
// цвет заливки иконок соцсетей футере
$fill-socialweb-futer-accent: #ffffff;
// цвет фона выезжающего оверлея портфолио
$overlay-portfolio-color: #2196f3;
// контрастный цвет текста оверлея
$text-color-overlay: #ffffff;
// цвет иконок в модaльном окне
$ico-color-modal: #212121;
// цвет иконок в модaльном окне
$ico-accent-color-modal: #2196f3;
